.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-heading {
  font-size: 3rem;
  text-align: center;
}

.home-tagline {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
}
.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-buttons button {
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-buttons button:hover {
  background-color: #0069d9;
}

@media screen and (max-width: 768px) {
  .home-heading {
    font-size: 2rem;
  }

  .home-tagline {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .home-buttons {
    flex-direction: column;
    align-items: center;
  }

  .home-buttons button {
    width: 100%;
    margin: 1rem 0;
  }
}
